@import "tailwindcss";

@theme {
  --color-primary: #183C6B;
  --color-secondary: #E6FAF6;
  --color-accent: #3DBFA8;
  --color-dark: #1A1F2E;
  --color-body: #646D7F;
  --color-border: #D1D9E4;
  --color-pagebg: #EEF3F9;
  --color-success: #27A869;
  --color-warning: #F0A500;
  --color-error: #E03C3C;
}